* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  touch-action: manipulation;
}

html {
  font-size: 62.5%;
  max-width: 100vw;
  touch-action: manipulation;
}
body {
  max-width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  touch-action: manipulation;

  background: linear-gradient(
    90deg,
    rgb(69, 60, 41) 0%,
    rgba(231, 202, 212, 1) 0%,
    rgba(104, 207, 232, 1) 100%
  );
}
.wrapper {
  height: 100%;
  max-width: 100vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.julelogo {
  width: 60rem;
  touch-action: manipulation;
}

.ko-logo {
  /*   width: 1rem; */
  margin: 4rem 0 0 0;
  touch-action: manipulation;
}

.link {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(70, 70, 70);
  letter-spacing: 2px;
  font-size: 1.5rem;
  padding: 2rem 0 0 0;
}

.link:visited {
  color: rgb(70, 70, 70);
}
.link:hover {
  color: #95e9fe;
}

.btn {
  margin: 10rem 0 10rem 0;
  width: 40rem;
  min-height: 7rem;
  border-radius: 20px;
  border: 0;
  background-color: #023047;
  color: white;
  letter-spacing: 2px;
  cursor: pointer;
  font-size: 2rem;
}
.btn:hover {
  color: #95e9fe;
}
.btn:active {
  background-color: #95e9fe;
}
.btn-text {
  font-size: 3rem;
}

.textbox {
  width: 80rem;
  height: 30rem;
  background-color: lightgrey;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.text-wrapper {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text,
.text-code p {
  font-family: "Courier Prime", monospace;
  color: dark-grey;
  font-size: 2rem;
}

#instruction {
  font-family: "Courier Prime", monospace;
  font-size: 1.2rem;
}

.code {
  width: 100%;
  padding: 1rem 0 0 0;
}

#snowflake1 {
  animation: rotasjon 14s infinite;
  animation-timing-function: linear;
  transform: rotate(45deg) rotate(-45deg);
  transform-box: fill-box;
  transform-origin: center;
}
#snowflake2 {
  animation: rotasjon2 16s infinite;
  animation-timing-function: linear;
  transform: rotate(45deg) rotate(-45deg);
  transform-box: fill-box;
  transform-origin: center;
}
#snowflake3 {
  animation: rotasjon 11s infinite;
  animation-timing-function: linear;
  transform: rotate(45deg) rotate(-45deg);
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes rotasjon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotasjon2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@media (min-device-width: 100px) and (max-device-width: 600px) {
  html {
    font-size: 62.5%;
    max-width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .logo {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .julelogo {
    margin: 4rem 0 0 0;
    max-width: 100%;
    height: 15rem;
    touch-action: manipulation;
  }

  .ko-logo {
    max-width: 100%;
    width: 20rem;
    touch-action: manipulation;
  }

  .btn {
    margin: 5rem 0 5rem 0;
    width: 80%;
    min-height: 7rem;
    border-radius: 20px;
    border: 0;
    background-color: #023047;
    color: white;
    letter-spacing: 2px;
    cursor: pointer;
    font-size: 1.5rem;
  }
  .btn:hover {
    color: #ffffff;
  }
  .btn:active {
    background-color: #ffffff;
  }
  .btn-text {
    font-size: 3rem;
  }

  .textbox {
    width: 80%;
    height: 20rem;
  }

  .text-wrapper {
    height: 10rem;
  }

  .text,
  .text-code p {
    font-family: "Courier Prime", monospace;
    color: dark-grey;
    font-size: 1.5rem;
  }
}
